/* Write your CSS here */
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #e2a139, #f9d423);
  height: 100vh;
}
.coin-toss-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 24px;
  width: 80%;
}
.heading {
  color: #a35200;
  font-family: 'Roboto';
  font-size: 24px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
}
.paragraph {
  color: #334155;
  font-family: 'Roboto';
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 500;
}
.img {
  height: 150px;
  width: 150px;
}
.button {
  background-color: #f9d423;
  color: #a35200;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  border-radius: 8px;
  border: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  margin-top: 16px;
  outline: none;
  cursor: pointer;
}
.toss-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}
.count {
  color: #475569;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  .coin-toss-container {
    max-width: 600px;
    padding: 64px;
  }
  .heading {
    font-size: 45px;
    margin-bottom: 16px;
  }
  .paragraph {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .img {
    height: 250px;
    width: 250px;
  }
  .button {
    margin-top: 32px;
  }
  .toss-container {
    margin-top: 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
